/* Mobile first styles go first */

/* Desktop styles go second */

body {
    background-color: #212B1E;
    height: 900px;
}
@media screen and (min-width: 913px) {
    body {
        background-color: #212B1E;
        height: 1000px;
}
}
header {
    text-align: center;
    margin: 0 auto;
}
@media screen and (min-width: 913px) {
    header {
        text-align: center;
        margin: 0 auto;
}
}
#logo {
    width: 300px;
    height: 90px;
}
@media screen and (min-width: 913px) {
    #logo {
        width: 400px;
        height: 120px;
    }
}
main {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
    height: 470px;
}
@media screen and (min-width: 913px) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(4, 250px);
        grid-gap: 1.5rem;
        justify-content: center;
        margin-top: 1rem;
        height: 550px;
}
}
.box {
    background-color: white;
    border: 1px solid grey;
    border-radius: 0.3rem;
    text-align: center;
    cursor: pointer;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 913px) {
    .box {
        background-color: white;
        border: 1px solid grey;
        border-radius: 0.3rem;
        text-align: center;
        cursor: pointer;
        font-size: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 913px) {
    footer {
        text-align: center;
    }
}
footer {
    text-align: center;
}
input[type=submit] {
    padding: 10px;
    border-radius: 0.5rem;
    font-style: italic;
    margin: 0 0.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
.input[type=submit]:hover {
    cursor: pointer;
}
.colorRange {
    color: white;
    padding: 10px;
    font-size: 100%;

}
@media screen and (min-width: 913px) {
    .colorRange {
        color: white;
        font-size: 110%;
    }
}
input[type=range] {
    width: 80%;
}
@media screen and (min-width: 913px) {
    input[type=range] {
        width: 20%;
    }
}
#hidden {
    color: red;
    font-style: italic;
    font-size: 120%;
    display: none;
}
/* Animations */
@keyframes transla {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(2.5deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
#b:hover {
    animation-name: transla;
    animation-duration: 2.5s;
}
/* Animations */
@keyframes translc {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(25deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
#c:hover {
    animation-name: translc;
    animation-duration: 2.5s;
}
/* Animations */
@keyframes transle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
#e:hover {
    animation-name: transle;
    animation-duration: 2.5s;
}
#g:hover {
    border-radius: 100%;
}
#notice {
    color: red;
    font-style: italic;
    font-size: 120%;
}
#author {
    text-align: center;
    font-size: 90%;
    background-color: rgb(236, 232, 232);
    margin: 0 auto;
    width: 100%;
    height: 2.5rem;
    position: relative;
    border-radius: 1rem;
}
@media screen and (min-width: 913px) {
    #author {
    text-align: center;
    font-size: 110%;
    background-color: rgb(236, 232, 232);
    margin: 0 auto;
    width: 45%;
    height: 1.7rem;
    position: relative;
    border-radius: 1rem;
}
}
a, a:visited {
    color: black;
}
a:hover {
    font-style: italic;
    font-weight: bold;
    font-size: 110%;
}