body {
    background-color: #212B1E;
}
header {
    text-align: center;
}
#logo {
    width: 400px;
    height: 150px;
}
main {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 250px);
    grid-gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
    height: 550px;
}
.box {
    background-color: white;
    border: 1px solid grey;
    border-radius: 0.3rem;
}
footer {
    text-align: center;
}
input[type=submit] {
    padding: 10px;
    border-radius: 0.5rem;
    font-style: italic;
    margin: 0 0.5rem;
    box-shadow: rgb(177, 170, 170);
}
input[type=submit]:hover {
    cursor: pointer;
}
.colorRange {
    color: white;
    padding: 10px;
}